<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>factSpa</name>
            <displayName><![CDATA[Optimized Invoice]]></displayName>
            <version><![CDATA[3.0]]></version>
            <description><![CDATA[Turn your invoice and delivery documents into elegant and custom ones with your favorite colours. Developed by prestaMarketing.com]]></description>
            <author><![CDATA[prestashop-facil.com]]></author>
            <tab><![CDATA[billing_invoicing]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>